*{ 
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:dimgrey;
    flex: 10;
}

.header-image{
    background-image: url(../images/headerbg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    background-position-y: bottom;
}

.header{
    display: flexbox;
    flex-direction: column;
}

.profilepic{
    float: right;
}

nav{
    float: right;
    padding-top: 5%;
}    
header > div { 
    display: inline-block;
}

div > img, div > h1 {
    display: inline-block;
}

img { 
    width: 25rem;
}

h1 { 
    color: red; 
    font-size: 5.5rem;
}

nav { 
    display: inline-block;
}

a.li1{ 
    text-decoration: none;
    color: white;
}

header,nav{ 
    margin: 0;
}

.navbar{ 
    padding-right: 25px; 
    display: inline; 
    font-size: 28px; 
    margin: 0%;
}

#ul1{ 
    list-style: none; 
    display: inline; 
    list-style-type: none; 
    margin-top: 0; 
    padding: 0; 
    width: 66%;
    justify-content: space-evenly;
}

li :hover{
    color: red;
    text-underline-position: below;
    background-color: whitesmoke;
}

section > div{
    background-image: url(../images/rentForm\ -\ Copy.jpeg);
    background-repeat: no-repeat;
    min-height:50rem;
    display: block;
}

.formbg{
    border-radius: 2rem;
    background: transparent;
    backdrop-filter: blur(0.5rem);
    position: relative;
    width: 50rem;
    height: 35rem;

    border: 2px solid white;
    border-radius: 2rem;

    justify-content: center;
    align-items: center;
}


form > div > div > input{
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;    
}

form > div > select{
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

form{
    font-size: 2rem;
    inline-size: 40rem;
    justify-content: center;
}
form > div > label, form > label{
    padding-right: 5rem; 
}

.formDates{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

form > div > div > select{    
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

footer{
    background-color: dimgrey;
}

footer > h1{
    color: white;
}