/*Tabbed pane*/

.side-forms{
    width: 90%;
    padding: 1rem;
    transform: translateX(3rem);
    /* height: 40rem; */
    overflow: hidden;
}
.wrapper{
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    /* margin-top:50rem ; */
}

.wrapper nav{
    position: relative;
    height: 3.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
}
/* .list{
    color: aliceblue;
} */
#User:checked ~ nav label.User,
#Reservation:checked ~ nav label.Reservation,
#Payments:checked ~ nav label.Payments{
    color: white;
    font-weight: 500;
}
.wrapper nav label{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
    padding: 5px 10px;
}

.wrapper nav .slider{
    position: absolute;
    height: 100%;
    width: 20%;
    background: red;
    border-radius: 5rem;
    z-index: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.wrapper>input{
    display: none;
}

#User:checked ~ nav .slider{
    left: 7%;
}
#Reservation:checked ~ nav .slider{
    left: 40%;
}
#Payments:checked ~ nav .slider{
    left: 73%;
}

.wrapper section .content .title{
    font-size: 24px;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 15px;
    color: black;
}

.wrapper section .content{
    display: none;
}

#User:checked ~ section .content-1,
#Reservation:checked ~ section .content-2,
#Payments:checked ~ section .content-3{
    display: block;
}

/*User profile*/
.user-profile{
    display: flex;
    flex-direction: column;
    border: 0.2rem solid dodgerblue;
    border-radius: 2rem;
    padding: 1.5rem;
    width:fit-content;
    float: left;
    margin-right: 1rem;
}
.profile-image{
   width: 20rem;
   margin-bottom: 1rem;
}

.user-profile>button{
    margin-bottom: 0.5rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
}
.field-n-label>button{
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
}
.field-n-label>input {
    border-radius: 0.5rem;    
    font-size: 1rem;
    padding: 0.5rem;
}
.field-n-label{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.FL-Section{
    display: flex;
    border: 0.2rem solid dodgerblue;
    border-radius: 2rem;
    margin: 1rem;
}

.sav-edt-del-btns{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.sav-edt-del-btns>div>button{
    border-radius: 1.2rem;
    font-size: 1rem;
    padding: 0.4rem;
    min-width: 6rem;
}