h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    margin-top: 10px;
}
.nav-icon {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #f2f2f2;
}

.profile {
  
    justify-content: right;
}