@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{ 
    margin:0;
    padding: 0;    
    font-family: 'Poppins', Arial, sans-serif;
}

body{
    background-image: url(../images/testBG.jpg);

    background-repeat: no-repeat; 
    background-size: cover;
    color:dimgrey;
    flex: 10;
}
/*header and navigation*/
.header{
    display: flexbox;
}

header > div, div > img, div > h1 { 
    display: inline-block;
}

img { 
    width: 25rem;
}

h1 { 
    color: white; 
    font-size: 6.5rem;
}

header{ 
    margin: 0;
}

.navigation{
    float: right;
    margin-top: 2rem;

    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: right;
    border-top-left-radius: 0.5rem;    
    border-bottom-left-radius: 0.5rem;

    background-color: transparent;
    max-height: 5rem;
}

.navigation ul{
    display: flex;
    background-color: black;
    background-size: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.navigation ul li{
    position: relative;
    list-style: none;
    font-size: 1.5rem;
    width: 9rem;
    height: 9rem;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    font-size: 2rem;
    
    transition: 0.35s;
    transform: translateY(1.5rem);
    color: white;
}

.navigation ul li a .text{
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
}

.navigation ul li:hover a .icon{
    transform: translateY(0.7rem);
}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(-0.25rem);
    font-size: 1.5rem;
    transition: 0.35s;
}

.navigation ul li.active a .icon, .navigation ul li.active a .text{
    color: gold;
}

/*Aside*/
aside{
    width: 40%;
    float: left;
}

/*Tabbed pane*/
.wrapper{
    max-width: 45rem;
    width: 100%;
    margin: 130px, auto;
    background-color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.wrapper header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 5px;

}

.wrapper nav{
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
#essentials:checked ~ nav label.essentials,
#customer:checked ~ nav label.customer,
#vehicle:checked ~ nav label.vehicle,
#payment:checked ~ nav label.payment{
    color: white;
    font-weight: 500;
}
.wrapper nav label{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
}

.wrapper nav .slider{
    position: absolute;
    height: 100%;
    width: 20%;
    background: red;
    border-radius: 5rem;
    z-index: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.wrapper>input{
    display: none;
}

#essentials:checked ~ nav .slider{
    left: 2%;
}
#customer:checked ~ nav .slider{
    left: 27%;
}
#vehicle:checked ~ nav .slider{
    left: 52%;
}
#payment:checked ~ nav .slider{
    left: 77%;
}

.wrapper section .content .title{
    font-size: 21px;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.wrapper section .content{
    display: none;
}

#essentials:checked ~ section .content-1,
#customer:checked ~ section .content-2,
#vehicle:checked ~ section .content-3,
#payment:checked ~ section .content-4{
    display: block;
}
/*message on the right of aside*/

.message{
    background-color: khaki;
    float: right;
    width:  18rem;
    border-radius: 1rem;
    padding: 0.2rem;
}
.message p{
    color: black;
    padding-left: 0.5rem;
}

.outer-box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

/*form-essentials*/
form{
    display: flex;
    flex-direction: column;
    position: relative;
    color: dimgray;
    font-size: 1rem;
}

.place{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    margin-left: 0.5rem;

    border: 0.2rem solid dodgerblue;
    border-radius: 0.5rem;
    width: 21.5rem;
}

.place input{
    font-size: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.dtHolder{
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
    transform: translateX(-0.5rem);
}

.dnt-wrapper{
    display: flex;
}

.entDate, .entTime{
    border: 0.2rem solid dodgerblue;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    
    padding: 1rem;
}

.dtHolder input{
    text-align: center;
    font-size: 1rem;
    width: 9rem;
    border-radius: 0.5rem;
}

.dtHolder select, .dtHolder select option{
    text-align: center;
    font-size: 1rem;
    width: 9rem;
    border-radius: 0.5rem;
}

button{
    position: relative;
    transform: translateY(0.1rem);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;    
    background-color: greenyellow;
    border: 0.2rem solid green;
    color: black;
    width: 15rem;
    height: 4rem;
    transform: translateX(0.5rem);
    margin-top: 1rem;
}
button:hover{
    cursor:pointer;
}
/*customer form*/
.cus-details{
    display: flex;
    flex-direction: column;
}
:root{
    --cus-p-width: 32rem;
    --textf-len:13rem;
}
.cus-personal, .cus-drive{    
    display: flex;
    margin-top: 1rem;
    padding: 1rem 4rem 1rem 1rem;
    border: 0.2rem solid dodgerblue;
    border-radius: 1rem;
    width: var(--cus-p-width);
}
.cus-personal{
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.cus-drive{
    flex-direction: column;
    width: var(--cus-p-width);
}

.cus-naming{
    display: flex;
    align-items: last baseline;
}

.cus-oth-details{
    display: flex;
    justify-content: space-between;
}

.titles>select option{    
    font-size: 1rem;
    padding: 0.25rem;
}

.fname, .lname, .cus-age,.cus-email, .cus-nic{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.cus-details input, .cus-details select{
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.cus-driv-lis input{
    width: var(--textf-len);
}

.cus-driv-lis{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}


/*vehicle form*/
.v-rows-container, .v-3col-container{
    display: flex;
    margin-top: 1rem;
    padding: 1rem 4rem 1rem 1rem;
    border: 0.2rem solid dodgerblue;
    border-radius: 1rem;
}

.v-3col-container{
    justify-content: space-between;
}

.v-3col{
    display: flex;
    flex-direction: column;
}

.v-rows-container{
    flex-direction: column;
}

.v-rows{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.v-rows input{
    transform: translateX(-12.25rem);
}

.v-3col input, .v-rows input{
    border-radius: 0.5rem;
    font-size: 1rem;
}

.v-warning-msg, .v-contact{
    border-radius: 1rem;
    padding: 0 4rem 0 1rem;
    background-color: khaki;
    font-weight: 500;
    color: black;
    padding: 0.5rem;
    margin-top: 1rem;
}

.v-contact{
    background-color: darkturquoise;
    font-weight: 400;
}

/*Payment form*/
.payDetail{
    display: flex;
    flex-direction: column;
}
.p-card, .p-needs{
    display: flex;
    border: 0.2rem solid dodgerblue;
    border-radius: 1rem;
    width: 32rem;
    padding: 1rem;
    padding-right: 0;
    margin: 0.5rem;
    justify-content: space-between;
}

.p-cardNum, .p-expDate, .p-cvv, .p-holder{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.payDetail input{
    font-size: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.p-expDate, .p-cvv{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0 1rem 0 0;
}
.p-cvv{
    transform: translateX(-2rem);
}
.p-holder{
    transform: translateX(-2rem);
}

.cTypeImage{
    width: 4rem;
    height: 2rem;
    padding: 0.2rem;
    transform: translateY(1rem);
    margin-right: 2rem;
}

#cardType{
    max-width: 4rem;
}

.p-warn{
    background-color: khaki;
    color: black;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    margin: 0.5rem;
}
/*fleet section*/
body>section{
    display: flex;
    min-height: 50rem;
    width: 60%;
    justify-content: flex-end;
}

footer {
  background-color:#EBCEB2;
  color: #666;
  font-size: 14px;
  padding: 40px 0;
}

.footer-top {
  padding-bottom: 10px;
}

.footer-info h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #362819;
}

.footer-info p {
  line-height: 24px;
  margin-bottom: 20px;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color:#362819;
}

.footer-links ul li {
  line-height: 24px;
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #666;
}

.footer-links ul li a:hover {
  color: #555;
}

.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color:#362819;
}

