@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{ 
    margin:0;
    padding: 0;    
    font-family: 'Poppins', Arial, sans-serif;
}

body{
    background-image: url(../images/testBG.jpg);

    background-repeat: no-repeat; 
    background-size: cover;
    color:dimgrey;
    flex: 10;
}
/*header and navigation*/
.header{
    display: flexbox;
}

header > div, div > img, div > h1 { 
    display: inline-block;
}

img { 
    width: 25rem;
}

h1 { 
    color: white; 
    font-size: 6.5rem;
}

header{ 
    margin: 0;
}

.navigation{
    float: right;
    margin-top: 2rem;

    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: right;
    border-top-left-radius: 0.5rem;    
    border-bottom-left-radius: 0.5rem;

    background-color: transparent;
    max-height: 5rem;
}

.navigation ul{
    display: flex;
    background-color: black;
    background-size: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.navigation ul li{
    position: relative;
    list-style: none;
    font-size: 1.5rem;
    width: 9rem;
    height: 9rem;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    font-size: 2rem;
    
    transition: 0.35s;
    transform: translateY(1.5rem);
    color: white;
}

.navigation ul li a .text{
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
}

.navigation ul li:hover a .icon{
    transform: translateY(0.7rem);
}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(-0.25rem);
    font-size: 1.5rem;
    transition: 0.35s;
}

.navigation ul li.active a .icon, .navigation ul li.active a .text{
    color: gold;
}


/*footer*/
.footer{
    background-color: #24262b;
    padding: 70px 0;
    top: 20rem;
}
.footer-col{
   width: 25%;
   padding: 0 1rem;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.container{
	display: flex;
    justify-content: center;
}
.row{
	display: flex;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}